@model DetailsVM
@{
	ViewData["Title"] = "Pokemon";
	string Cor(string nome)
	{
		return Model.Tipos
		.Where(t => t.Nome == nome)
		.Select(t => t.Cor)
		.FirstOrDefault();
	}
}
<section class="pt-5 container">
	<div class="row">
		<div class="col text-center">
			<a asp-action="Details" asp-asp-route-id="@Model.Anterior.Numero"
				class="btn btn-lg btn-outline-dark">@Model.Anterior.Numero.ToString("000") - @Model.Anterior.Nome

			</a>
		</div>
		<div class="col text-center">
			<h1 class="fs-1">@Model.Atual.Nome 
				<span class="fs-2 text-secondary">Nº @Model.Atual.Numero.ToString("000")</span></h1>
		</div>
		<div class="col text-center">
		@if (Model.Proximo != null)
		{
			<a asp-action="Details" asp-route-i="@Model.Proximo.Numero" class="btn btn-lg btn-outline-dark">@Model.Proximo.Numero.ToString("000") - @Model.Proximo.Nome</a>
		}
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-lg-5 p-0">
			<img class="img-fluid cursor-pointer" src="@Model.Atual.Imagem" alt="@Model.Atual.Nome">
		</div>
		<div class="col-lg-7 fs-5 mt-4">
			<p class="mb-3"><strong>Descrição:</strong>@Model.Atual.Descricao</p>
			<p class="mb-3"><strong>Espécie:</strong> @Model.Atual.Especie</p>
			<p class="mb-3"><strong>Altura:</strong> @Model.Atual.Altura mts</p>
			<p class="mb-3"><strong>Peso:</strong>@Model.Atual.Peso kgs</p>
			<p class="fw-bold">Tipo</p>
			<div class="btn-group">
				@foreach (var tipo in Model.Atual.Tipo)
				{
					<a href="#" class="btn btn-lg text-white" style="background-color:@Cor(tipo)">
						@tipo
					</a>
				}

			</div>
		</div>
	</div>
</section>